@import url('https://fonts.googleapis.com/css?family=Gamja+Flower');

body, html {
  width: 100%;
  height: 100%;
  font-family: 'Inter';
  background-color: rgb(240, 240, 240);
}

#wapper {
  width: 100%;
  height: auto;
}

/* --------------------------------------Header----------------------------------------- */

/*--------------------- Menu phone header --------------------- */
#header #nav-mobile .nav_phone-header {
  padding: 15px;
  border-bottom: 1px solid #e3e3e3;
}

#navbarResponsive ul li :first-child a {
  color: #EE0033 !important;
  font-weight: 600;
}

#navbarResponsive ul {
  list-style: none; 
}

#navbarResponsive ul li ::before {
  content: "\2022";  
  color: red;
  font-weight: bold; 
  display: inline-block; 
  width: 1em; 
  font-size: 18px;
}

#navbarResponsive ul li:nth-last-child(5) ::before {
  display: none;  
} 

#wapper-phone-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 1000;
  width: 0px;
  transition: all 0.25s ease-in-out;
  font-size: 18px;
  line-height: 24px;
  padding: 15px 0;
  max-width: 375px;
}

#header #nav-mobile .nav_phone-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}




/* ------------------------------------------Menu for sreen large----------------------------------------- */
#header {
  background: #FFFFFF !important;
  padding-bottom: 10px;
  padding-top: 10px;
  box-shadow: 0 0 4px #333;
}

#header #menu {
  font-size: 14px;
}

.active-menu {
  display: block;
}

#header #toggle {
  display: none;
}

#wapper .wapper-header {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;
  position: fixed;
}

/* -------------------------------------------Main Content-------------------------------------------------- */

#main-content{
  margin-top: 160px
}
#posts .item {
  background: #FFFFFF;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  min-height: 580px;
  position: relative;
}

#posts .item img {
  width: 100%;
  border-radius: 12px 12px 0px 0px;
}

#posts .item button {
  width: 127px;
  height: 43px;
  position: absolute;
  bottom: 32px;
  left: 20px;
}

#posts .item h5 {
  font-weight: 600;
  font-size: 20px;
  margin: 18px 0px 13px 0px;
  padding: 0px 18px;
}

#posts .item p {
  padding: 0px 18px;
  color: #4F4F4F;
}

/* ----------------------------------Sidebar---------------------------------------------- */

#sidebar #posts-group .item {
  background-color: #FFFFFF;

}

#sidebar #posts-group .item h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

#sidebar #posts-group .item ul {
  list-style: none;
}

#sidebar #posts-group .item ul li a {
  text-decoration: none;
  color: black;
}

#sidebar #posts-group .item ul li ::before {
  content: "\2022";
  color: #EE0033;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  font-size: 25px;
}

#sidebar .search {
  background-color: #FFFFFF;
  padding: 18px;
}

#sidebar .search button i {
  color: #EE0033;
}

/* --------------------------------------------------Contact----------------------------------------- */
#contact img {
  width: 100%;
}

#posts .item {
  background-color: #FFFFFF;
  margin-bottom: 20px;
}

#contact {
  /* position: relative; */
  display: flex;
  background-image: url(../../images/Background.png);
  background-position-x: -39px;
  background-position-y: -39px;
  min-height: 600px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#contact .form-contact {
  /* position: absolute; */
  margin-top: 200px;
}


/* ---------------------------------------------------Footer-------------------------------------------- */
#footer #footer-infor ul li {
  list-style: none;
  font-weight: bold;

}

#footer #footer-infor ul li a {
  color: #333333;
  display: block;
  padding: 5px 0px;
  font-size: 14px;
}

/*-------------------------- BACKTOP AND RING----------------------- */

#backTop {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b5b5b5;
  position: fixed;
  width: 42px;
  height: 42px;
  right: 36px;
  bottom: 132px;
  padding: 13.5px;
  border-radius: 50%;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  z-index: 999;
}

.hl-ring {
  position: fixed;
  bottom: 57px;
  right: 30px;
  width: 54px;
  height: 54px;
  text-align: center;
  z-index: 999;
  border: none;
  background: #ee0033;
  border-radius: 50%;
}

.hl-ring img {
  width: 26px;
  height: 26px;
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hl-ring .host-circle-fill {
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: pulse;
  width: 70px;
  height: 70px;
  top: -7px;
  right: -8px;
  position: absolute;
  transition: all 0.2s ease-in-out;
  border-radius: 100%;
  border: 2px solid transparent;
  background-color: #f02937;
  opacity: 0.15;
}

.hl-ring .host-circle {
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: zoomIn;
  width: 64px;
  height: 64px;
  top: -5px;
  right: -5px;
  position: absolute;
  border-radius: 100%;
  border: 2px solid rgba(30, 30, 30, 0.4);
  opacity: 0.1;
  border-color: #f02937;
  opacity: 0.5;
}


@keyframes zoomIn {
  0% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

/*---------------- Copyright -------------*/
#copyright {
  padding-bottom: 49px;
}

#copyright .social-media i {
  font-size: 39px;
  margin-right: 20px;
  color: #4F4F4F;
}


.your-class .slick-dots li button:before {
  font-size: 48px;
  color: gray !important;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  opacity: 1 !important;
  color: #EE0033 !important;
}


@media (min-width: 992px) and (max-width:1920px) {
  #contact .form-contact h1 {
    font-size: 24px;
  }

  #contact .form-contact h3 {
    font-size: 16px;
    margin-bottom: 15px !important;
  }

}

@media (max-width: 1600px) {
  #navbarResponsive {
    display: none !important;
  }

  #header .navbar-toggler {
    display: block;
    z-index: 1000;
  }
}

@media (min-width: 1600px) {
  #wapper-phone-menu {
    width: 0px !important;
  }
}

@media (min-width: 450px) and (max-width: 992px) {

  /* -------Header-------- */
  #contact img {
    display: none;
  }

  #contact {
    background-image: none;
    background-color: #C82333;
    padding: 30px 0px;
    margin-bottom: 30px;
    position: relative;
    min-height: 380px;
  }

  #contact .form-contact {
    margin-top: 20px;
  }

  #contact .form-contact h1 {
    font-size: 24px;
  }

  #contact .form-contact h3 {
    font-size: 16px;
  }
}

@media (max-width: 450px) {
  .container-fluid {
    width: 100% !important;
  }

  /* -------Header-------- */
  #contact img {
    display: none;
  }

  #contact {
    background-image: none;
    background-color: #C82333;
    padding: 30px 0px;
    margin-bottom: 30px;
    position: relative;
    min-height: 380px;
  }

  #contact .form-contact {
    margin-top: 20px;
  }

  #contact .form-contact h1 {
    font-size: 24px;
  }

  #contact .form-contact h3 {
    font-size: 16px;
  }
}